[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
jinja2 = "*"
pymysql = "*"
werkzeug = "*"
python-dotenv = "*"
flask-assets = "*"
flask-login = "*"
flask-session = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
lesscpy = "*"
cssmin = "*"
jsmin = "*"

[dev-packages]

[requires]
python_version = "3.9"
