{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/landing.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Total balance in HRK: {{ exchanged_total }}</h1>

    <h3>Details:</h3>
    {% for currency in balances %}
      <div class="grid-row-12">
          <div class="grid-col-2"><span class="field-value">{{ currency.currency }}</span></div>
          <div class="grid-col-2"><span class="field-value">{{ currency.total }}</span></div>
          <div class="grid-col-6"><span class="field-value"><b>(HRK {{ exchanged_balances[currency.currency] }})</b></span></div>
      </div>
    {% endfor %}

</div>
{% endblock %}