<aside class="sidebar">
    <a href="{{ url_for('main_bp.home') }}"> <section class="menu_item">Dashboard</section> </a>
    <a href="{{ url_for('main_bp.home') }}"> <section class="menu_item">New transaction</section> </a>
    <a href="{{ url_for('main_bp.home') }}"> <section class="menu_item">Transactions</section> </a>
    <a href="{{ url_for('main_bp.home') }}"> <section class="menu_item">Create employee</section> </a>
    <a href="{{ url_for('main_bp.home') }}"> <section class="menu_item">Manage employees</section> </a>
</aside>